/*
  Global Color Variables
*/

// Colors
$white: white;
$off-white: #F6F6F6;
$black: #484848;

$text-grey: #ACAFB5;

// Greys Gah
$grey: #b9c8c6;
$dark-light-grey: #282828;
$light-grey: #979797;
$lighter-grey: #d4d4d4;
$dark-grey: rgba(136, 136, 136, 0.5);
$darker-grey: #222222;

// Other colors
$red: #c96763;
$green: #b5bb48;
$purple: #9d8abf;
$blue: #0072CE;
$yellow: #eec765;