/* ====================

Global typographic styles and resets

======================= */

%antialiased {
  font-smoothing: antialiased;
  -webkit-font-smoothing:antialiased;
}

%sans-serif {
   font-family:'Knockout-HTF32-JuniorCruiserwt', 'Knockout', 'Open Sans', sans-serif;
   font-weight:100;
}
%serif {
  font-family: "bodoni-urw", 'Bodoni MT', Didot, 'Didot LT STD',sans-serif;
}
%caps {
  text-transform: uppercase;
  font-weight:100;
  letter-spacing:.1em;
}
h2, h1 {
  @extend %serif;
}

