// Button styling
.btn, a.btn {
  display: inline-block;
  padding: 13px 17px;
  font-size: 0.7em;
  font-weight: 600;
  transition: 100ms all;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $blue;
  &:hover {
    background-color: darken($blue, 10%);
  }
}
%icon-after {
    position: relative;
    padding-right: 40px;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top:50%;
        transform:translateY(-50%);
        right: 10px;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
.btn-primary, a.btn-primary {
  @extend .btn;
  color: white;
  background-color: $blue;
  .dark-bg &{
    color: $black;
  }
}
.btn-white, a.btn-white {
  @extend .btn;
  background-color: $white;
}
.btn-dark, a.btn-dark {
  @extend .btn;
  border-color: $black;
  background-color: $black;
  color:white;
  &:hover {
    border-color: black;
  }
}
.btn-video, a.btn-video {
  @extend .btn-primary;
  @extend %icon-after;
  position: relative;
  padding-right: 40px;
  &:after {
    background-image: url('../img/icon-play-circle.png');
    background-image: url('../img/icon-play-circle.svg');
  }
}
.btn-download, a.btn-download {
  @extend .btn-primary;
  @extend %icon-after;
  position: relative;
  padding-right: 40px;
  display:none;
  @include bp(screen-md){
    display:inline-block;;
  }

  &:after {
    background-image: url('../img/icon-download.png');
    background-image: url('../img/icon-download.svg');
  }
  .dark-bg &:after {
    background-image: url('../img/icon-download-dark.png');
    background-image: url('../img/icon-download-dark.svg');
  }
}
.btn-scroll, a.btn-scroll {
  @extend .btn-primary;
  @extend %icon-after;
  position: relative;
  padding-right: 40px;
  &:after {
    background-position:center;
    background-image: url('../img/icon-arrow-down.png');
    background-image: url('../img/icon-arrow-down.svg');
  }
}

.btn-arrow-right, a.btn-arrow-right {
  @extend .btn-white;
  @extend %icon-after;
  position: relative;
  padding-right: 40px;
  &:after {
    top: 55%;
    height: 15px;
    background-image: url('../img/icon-skinnyarrow.png');
    background-image: url('../img/icon-skinnyarrow.svg');
  }
}
.btn-arrow-right-dark, a.btn-arrow-right-dark {
  @extend .btn-arrow-right;
  background-color:$blue;
  color:white;
  &:after {
    background-image: url('../img/icon-skinnyarrow-white.png');
    background-image: url('../img/icon-skinnyarrow-white.svg');
  }
}

.btn-arrow {
  @extend %icon-after;
  width:50px;
  height:50px;
  @include bp(tablet-s){
    width:30px;
    height:30px;
  }
  display:block;
  background-color:rgba($blue, .6);
  text-align:center;
  &:after {
    width: 15px;
    height:20px;
    display:inline-block;
    right:auto;
    left:50%;
    transform:translate(-50%, -50%);
    background-size:100%;
    background-position:center center;
    background-image: url('../img/arrow-thick-right.png');
    background-image: url('../img/arrow-thick-right.svg');
  }
}

.btn-submit {
  @extend .btn-primary;
}