// Global navigation stylings for collapsed hidden nav
body {
  position:relative;
}

// Header styles
.header-wrap {
    position:absolute;
    top:0;
    width:100%;
    z-index:3;
}

//Nav bar
.navigation {
  position:fixed;
  top:0;
  right:0;
  height:100%;
  padding-left:35px;
  z-index:4;
}

.navContainer-wrap {
  transition: 300ms all cubic-bezier(0.4, 0, 0.2, 1);
  width:285px;
  max-width:10px;
  overflow:hidden;
  height:100%;
  position:relative;
  .active &{
      max-width: 285px;
  }
}
.navContainer {
  // background-color: $blue;
  background-color: $black;
  display:block;
  position:absolute;
  right:0;
  top:0;
  min-width: 285px;
  max-height:100%;
  overflow-x:hidden;
  min-height:100%;
  // transform: translateX(98%);
  .active & {
    transform: translateX(0);
  }
}

// Top Logo - Hidden for now

// Collapsable Nav Groups
.navGroup:nth-of-type(1){
    margin-top: 55px;
}

// Navigation
.navGroup-title {
  text-transform:uppercase;
  letter-spacing: .07em;
  font-size: .75em;
  margin-left: 50px;
  margin-bottom:10px;
  text-align:left;
  // padding: 27px;
  // background-color: rgba(white, .1);

}
.navGroup ul, .navLink {
  padding:0;
  margin:0;
}
.navGroup ul {
  padding-bottom: 20px;
}
.navLink.current a{
    color: rgba($white, .6);
    position:relative;
    &:after {
      content:'';
      height: 75%;
      position:absolute;
      top:50%;
      transform: translateY(-50%);
      left:-40px;
      display:block;
      width: 3px;
      background-color:rgba($white,.6);
    }
  }
.navLink a {
  color:rgba($white, .3);
  font-size:.65em;
  font-weight: 700;
  display:inline-block;
  width:100%;
  @extend %antialiased;

  padding: 14px;
  padding-left:70px;
  &:hover {
    color:rgba($white, .9);
    background-color:rgba(white,.02);
  }
}
.navToggle {
  @extend .navGroup-title;
  transform:rotate(-90deg) translateX(-50%);
  padding:0;
  margin:0;
background:transparent;
  color:$blue;
  position:absolute;
  left:0;
}

.overlayMask {
  background-color:rgba(black,0);
  transition:200ms background-color;
  z-index: 1;
  &.active {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    background-color:rgba(black,.8);
    cursor:e-resize;
  }
}